<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <title>Login</title>
    </head>
    
<body>
<div class="container">
    <div class="login">
        <div class="container">
            <h1>Log in</h1>
            <form method="POST" action="/login">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="2022-0353U" name="carnet">
                    <label for="floatingPassword">Carnet</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Mypassword1234" name="contra">
                    <label for="floatingPassword">Contrasena</label>
                </div>
                <button type="submit">Log in</button>
            </form>
            <div class="clearfix"></div>
            <span class="copyright">&copy;2023</span>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Mypassword1234" name="contra">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <input type="submit" class="btn btn-dark">
    </div>
    <div class="register">
        <div class="container">
            <i class="fas fa-user-plus fa-5x"></i>
            <h2>Hello,friend!</h2>
            <p>Don't have an account yet?</p>
            <a href="{{ url_for('register') }}"><button>Register <i
                        class="fas fa-arrow-circle-right"></i></button></a>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
