<%- include("partials/header.ejs") %>
<table class="table">
    <thead class="table-light">
      <tr>
        <th>Posición</th>
        <th>User</th>
        <th>Puntuación</th>
      </tr>
    </thead>
    <tbody>
        <% listaUsuarioRango.forEach((element)=>{%>
            <tr>
                <td>Fila 1, Celda 1</td>
                <td>Fila 1, Celda 2</td>
                <td>Fila 1, Celda 3</td>
            </tr>
        <%})%>
  
    </tbody>
  </table>
  