<%- include("partials/header.ejs") %>
<div class="container">
    <div class="login">
        <div class="container">
            <h1>Create an account</h1>
            <form method="POST" action="/register">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="2022-0353U" name="carnet">
                    <label for="floatingPassword">Carnet</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Junior14" name="nombreUsuario">
                    <label for="floatingPassword">Nombre de Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="correo">
                    <label for="floatingInput">Correo electronico</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Mypassword1234" name="contra">
                    <label for="floatingPassword">Contrasena</label>
                </div>
                <button type="submit">Register</button>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
            <div class="clearfix"></div>
            <span class="copyright">&copy;2023</span>
        </div>
    </div>
    <div class="register">
        <div class="container">
            <i class="fas fa-user-plus fa-5x"></i>
            <h2>Hello,friend!</h2>
            <p>Already have an account?</p>
            <a href="{{ url_for('login') }}"><button>Log in <i class="fas fa-arrow-circle-right"></i></button></a>
        </div>
    </div>
</div>
