<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input name="username" required type="text" placeholder="username">
        <input name="password" required type="text" placeholder="password">
        <input type="submit">
    
    </form>
</body>
</html>